<!DOCTYPE html>
{% extends 'catalog/home.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>title</title>
</head>
<body>
{% block content %}
    {% if value.count > 0 %}
        {% for i in value %}
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ i.image.url }}" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <br>
                            <h5 class="card-title"><a href="{% url 'product' i.slug %}"><p class="card-text">{{ i.name }}</p></a></h5>
                            <h4>{{ i.price }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
    <div align="center">
        <h3>По запросу "{{ search }}" ничего не найдено</h3>
    </div>
    {% endif %}
{% endblock %}
</body>
</html>
